<div class="container mt-5">
  <div class="glass-card mx-auto w-75 p-4">
    <div class="container py-5">
      <h1>Bienvenue sur Running plan</h1>

      <h2 class="subtitle-grey">
        Ici, tu vas découvrir notre liste d’objectifs prêts à te challenger.
        Choisis celui qui te motive le plus et c’est parti pour ton aventure
        running !
      </h2>

      <ul class="list-group list-group-flush">
        <% @objectifs.each do |objectif| %>
          <li
            class="
              list-group-item d-flex justify-content-between
              align-items-center
            "
          >
            <%= objectif.name %>
            <%= link_to "Je choisis cet objectif", objectif_path(objectif), class: "btn btn-outline-primary btn-sm mt-2" %>
          </li>
        <% end %>

        <li
          class="list-group-item text-center"
          style="background-color: rgba(255,255,255,0.5);"
        >
          <h5 class="mt-2 mb-3">
            Aucun objectif ne correspond à vos attentes ?
          </h5>

          <%= form_with model: @objectif, url: objectifs_path, class: "d-flex flex-column align-items-center" do |f| %>
            <div class="mb-2 w-50">
              <%= f.label :name, "Créez votre propre objectif", class: "form-label" %>
              <%= f.text_field :name, class: "form-control text-center" %>
            </div>

            <%= f.submit "Créer mon objectif", class: "btn btn-outline-primary btn-sm mt-2" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
