<%= link_to "Retour à la liste des objectifs", objectifs_path, class: "btn btn-primary mt-3" %>

<div class="container py-5">
  <div class="card p-4 shadow" style="background-color: white;">
    <h1 class="mb-4 text-center"><%= @objectif.name %></h1>

    <%= form_with model: @objectif do |f| %>
      <div class="mb-3">
        <%= f.label :km, "Précisez le nombre de kilomètres pour atteindre votre objectif", class: "form-label" %>
        <%= f.number_field :km, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :actual_time, "Temps actuel pour parcourir la distance (min)", class: "form-label" %>
        <%= f.number_field :actual_time, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :goal_time, "Temps visé pour la prochaine course (min)", class: "form-label" %>
        <%= f.number_field :goal_time, class: "form-control" %>
      </div>

      <%= f.submit "Enregistrer mon objectif", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
