<%= link_to "Retour à la liste des objectifs", objectifs_path, class: "btn btn-primary mt-3" %>

<div class="container mt-5">
  <div class="glass-card mx-auto w-75 p-4">
    <h1>Mon objectif : <%= @objectif.name %></h1>

    <%= form_with model: @objectif, url: objectif_path(@objectif), method: :patch do |f| %>
      <div class="mb-3">
        <%= f.label :km, "Précisez le nombre de kilomètres pour atteindre votre objectif", class: "form-label" %>
        <%= f.number_field :km, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :actual_time, "Temps actuel pour parcourir la distance (min)", class: "form-label" %>
        <%= f.number_field :actual_time, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :goal_time, "Temps visé pour la prochaine course (min)", class: "form-label" %>
        <%= f.number_field :goal_time, class: "form-control" %>
      </div>

      <%= f.submit "Enregistrer mon objectif", class: "btn btn-primary mb-4" %>
    <% end %>

    <h2>
      Compléter mes informations
    </h2>

    <%= form_with model: @user, url: profile_path, method: :patch do |f| %>
      <div class="mb-3">
        <%= f.label :age, class: "form-label" %>
        <%= f.number_field :age, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :weight, "Poids (kg)", class: "form-label" %>
        <%= f.number_field :weight, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :height, "Taille (cm)", class: "form-label" %>
        <%= f.number_field :height, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :level_running, "Niveau", class: "form-label" %>

        <%= f.select :level_running,
             options_for_select([["Débutant", "débutant"],
                                 ["Intermédiaire", "intermediaire"],
                                 ["Avancé", "avance"]],
                                 @user.level_running),
             {},                                             
             class: "form-control" %>
      </div>

      <%= f.submit "Enregistrer mes informations", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
