<h1>Modifier mon profil</h1>

<%= form_with model: @user, url: profile_path, method: :patch do |f| %>
  <div><%= f.label :age %><%= f.number_field :age %></div>

  <div><%= f.label :weight, "Poids (kg)" %><%= f.number_field :weight %></div>

  <div><%= f.label :height, "Taille (cm)" %><%= f.number_field :height %></div>

  <div>
    <%= f.label :level_running, "Niveau" %>
    <%= f.select :level_running, options_for_select([["Débutant", "débutant"], ["Intermédiaire", "intermediaire"], ["Avancé", "avance"]], @user.level_running) %>
  </div>

  <%= f.submit "Mettre à jour", class: "btn btn-success" %>
<% end %>
