<h1>Mon profil</h1>

<p>Âge : <%= @user.age %> ans</p>
<p>Poids : <%= @user.weight %> kg</p>
<p>Taille : <%= @user.height %> cm</p>
<p>Niveau : <%= @user.level_running %></p>

<h2>Mon objectif</h2>

<% if @objectif.present? %>
  <p><strong><%= @objectif.name %></strong></p>
  <p>Kilomètres : <%= @objectif.km %></p>
  <p>Temps actuel : <%= @objectif.actual_time %> min</p>
  <p>Temps visé : <%= @objectif.goal_time %> min</p>
  <%= link_to "Modifier cet objectif", objectif_path(@objectif), class: "btn btn-warning" %>
  <%= link_to "Supprimer cet objectif", objectif_path(@objectif),
              method: :delete, 
              data: { confirm: "Supprimer cet objectif ?" },
              class: "btn btn-danger" %>
<% else %>
  <p>Aucun objectif sélectionné.</p>
  <%= link_to "Créer un objectif", new_objectif_path, class: "btn btn-primary" %>
<% end %>

<hr>

<%= link_to "Discuter avec l'IA", running_chat_path, class: "btn btn-secondary" %>
