<h1>Mon profil</h1>

<p>Âge : <%= @user.age %> ans</p>
<p>Poids : <%= @user.weight %> kg</p>
<p>Taille : <%= @user.height %> cm</p>
<p>Niveau : <%= @user.level_running %></p>

<h2>Objectifs</h2>
<ul>
  <% @user.objectifs.each do |objectif| %>
    <li>
      <%= objectif.name %> -
      <%= link_to "Modifier", edit_objectif_path(objectif) %>
      <%= link_to "Supprimer", objectif_path(objectif), method: :delete, data: { confirm: "Êtes-vous sûr ?" } %>
    </li>
  <% end %>
</ul>

<%= link_to "Modifier mon profil", profile_edit_path, class: "btn btn-primary" %>
<%= link_to "Ajouter un objectif", new_objectif_path, class: "btn btn-secondary" %>
<%= link_to "Discuter avec l'IA", running_chat_path, class: "btn btn-secondary" %>
