<%= form_with(model: @user_profile, local: true) do |f| %>
  <% if @user_profile.errors.any? %>
    <div class="alert alert-danger">
      <h4>Formulaire invalide :</h4>
      <ul>
        <% @user_profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :weight, "Poids (kg)" %>
    <%= f.number_field :weight, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :height, "Taille (cm)" %>
    <%= f.number_field :height, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :age, "Âge" %>
    <%= f.number_field :age, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :level, "Niveau" %>
    <%= f.select :level, ["Débutant", "Intermédiaire", "Avancé"], {}, class: "form-select" %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
